body {
  background-color: rgb(255, 255, 255);
  font: normal 1.563em/1.4 'Product Sans';
  color: rgb(255, 255, 255);
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 478px;
  background: rgb(255, 255, 255);
  background: -webkit-linear-gradient(270deg, #00c2ff 0%, rgba(0, 0, 0, 0) 100%) rgb(255, 255, 255);
  background:    -moz-linear-gradient(270deg, #00c2ff 0%, rgba(0, 0, 0, 0) 100%) rgb(255, 255, 255);
  background:      -o-linear-gradient(270deg, #00c2ff 0%, rgba(0, 0, 0, 0) 100%) rgb(255, 255, 255);
  background:     -ms-linear-gradient(270deg, #00c2ff 0%, rgba(0, 0, 0, 0) 100%) rgb(255, 255, 255);
  background:         linear-gradient(180deg, #00c2ff 0%, rgba(0, 0, 0, 0) 100%) rgb(255, 255, 255);
}

.image {
  display: block;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 171px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  position: absolute;
  top: 371px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 308px;
  height: 60px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgb(10, 196, 255);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.09);
  font-size: 0.64em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-1 {
  top: 690px;
  z-index: 5;
  font-size: 1em;
}

.text-2 {
  top: 600px;
  z-index: 3;
  font-size: 1.2em;
  line-height: 1.38;
}

.text-3 {
  top: 202px;
  z-index: 2;
  font-size: 1.2em;
  line-height: 1.38;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 a {
  font-weight: inherit;
  color: #212121;
}

.text-2 a {
  font-weight: 700;
  color: #212121;
}

.text-3 a {
  font-weight: 700;
  color: inherit;
}