
.texto {
    font-size: 1em;
    font-weight: 400;
}

.space-down {
    margin-bottom: 5em;
}

.github {
    width: 100%;
    background-color: #212121;
    height: 4em;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.link-git {
    width: 10em;
    overflow: hidden;
    height: 4em;
    cursor: pointer;
}

.link-git img {
    margin-top: 1.5em;
    margin-right: .2em;
    width: 1.2em;
    display: inline-block;
}

.link-git p {
    display: inline-block;
    font-size: .85em;
}